<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/groupRoutes/calcados.css">
    <!-- Título da pagina(aba) -->
    <title>Site Produtos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand color" href="../../../index.html">Kopezky</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active color" aria-current="page" href= masculino.html >Masculino</a>
              </li> 
              <li class="nav-item"> 
                <a class="nav-link active color" aria-current="page" href="feminino.html">Feminino</a>
              </li> 
              <li class="nav-item"> 
                <a class="nav-link active color" aria-current="page" href="infantil.html">Infantil</a>
              </li> 
              <li class="nav-item"> 
                <a class="nav-link active color" aria-current="page" href="calcados.html">Calcados</a>
              </li> 
              <li class="nav-item"> 
                <a class="nav-link active color" aria-current="page" href="../utils/contato.html">Contato</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success color searchButton" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>

     <div class="titulo">        
      <h1>Calçados</h1>
    </div>

      <div class="tudo">
        <div class="row">
          <div class="list-group filterProduct  col-sm-3">
            <a class="list-group-item list-group-item-action active filterColor">
              Filtrar Calçados 
            </a>
            <a href="#" class="list-group-item list-group-item-action">Calçados Masculinos</a>
            <a class="list-group-item list-group-item-action"></a>
            <a href="#" class="list-group-item list-group-item-action">Caçados Femininos</a>
            <a class="list-group-item list-group-item-action"></a>
            <a href="#" class="list-group-item list-group-item-action">Calçados Infantil</a>
            <a class="list-group-item list-group-item-action"></a>
            <a href="#" class="list-group-item list-group-item-action">Calçados Outlet</a>

            <a href="#" class="list-group-item list-group-item-action"></a>
          </div>

            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="/src/public/assets/images/calcados/calcados01.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Camisa manga longa cinza</h5>
                  <p class="card-text">
                    <br>
                    Camiseta de manga longa masculina.
                    <br>
                    Ótima para o Outono
                  </p>
                  <p class="card-text preco">R$ 59,99
                  </p>
                </div>
              </div>  
            </div>  
            <div class="col-sm-3">
              <div class="card">
                <img class="card-img-top" src="/src/public/assets/images/calcados/calcados02.jpg" alt="Imagem de capa do card">  
                <div class="card-body">
                  <h5 class="card-title">Camiseta vermelha</h5>
                  <p class="card-text"><br>
                    Camiseta de manga curta masculina.
                    <br>
                    Ótima para todas as ocasiões</p>
                  <p class="card-text preco">R$ 59,99</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="/src/public/assets/images/masculino/masc3.png" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Camisa azul</h5>
                    <p class="card-text"><br>
                      Camiseta de manga longa masculina.
                      <br>
                      Ótima para o Outono</p>
                    <p class="card-text preco">R$ 59,99</p>
                  </div>
                </div>
            </div>
        </div>     
      </div>

      <br>
      <br>
      <br>

      <div class="row row2 alignCards">
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="/src/public/assets/images/masculino/masc4.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisa branca - Friends</h5>
              <p class="card-text produtosMasculinos">
                <br>
                Camiseta de manga curta masculina.
                <br>
                Ótima todas as ocasiões
              </p>
              <p class="card-text preco">R$ 59,99
              </p>
            </div>
          </div>
        </div>       
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="/src/public/assets/images/masculino/masc5.png" alt="Imagem de capa do card">
            
            <div class="card-body">
              <h5 class="card-title">Camisa Preta básica</h5>
              <p class="card-text"><br>
                Camiseta de manga curta masculina.
                <br>
                Ótima para todas as ocasiões</p>
              <p class="card-text preco">R$ 59,99</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="/src/public/assets/images/masculino/masc6.png" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Camisa roxa</h5>
                <p class="card-text"><br>
                  Camiseta de manga curta masculina.
                  <br>
                  Ótima para todas as ocasiões</p>
                <p class="card-text preco">R$ 59,99</p>
              </div>
            </div>
        </div>
      </div>

      <div class="row row2 alignCards">
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="/src/public/assets/images/masculino/masc4.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Camisa branca - Friends</h5>
              <p class="card-text produtosMasculinos">
                <br>
                Camiseta de manga curta masculina.
                <br>
                Ótima todas as ocasiões
              </p>
              <p class="card-text preco">R$ 59,99
              </p>
            </div>
          </div>
        </div>       
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="/src/public/assets/images/masculino/masc5.png" alt="Imagem de capa do card">
            
            <div class="card-body">
              <h5 class="card-title">Camisa Preta básica</h5>
              <p class="card-text"><br>
                Camiseta de manga curta masculina.
                <br>
                Ótima para todas as ocasiões</p>
              <p class="card-text preco">R$ 59,99</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="/src/public/assets/images/masculino/masc6.png" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Camisa roxa</h5>
                <p class="card-text"><br>
                  Camiseta de manga curta masculina.
                  <br>
                  Ótima para todas as ocasiões</p>
                <p class="card-text preco">R$ 59,99</p>
              </div>
            </div>
        </div>
      </div>
      <br/><br/>

      <nav aria-label="Navegação de página exemplo" class="paginacao">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
        </ul>
      </nav>
  </div>
</body>
</html>