<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div>
        <h1>Cadastro de Clientes</h1>
        <p>Complete suas informações</p>
        <br>
    </div>

    <form method="get" action="envio_dados.php">
        <fieldset>
            <div>
                <label for="Nome">Nome</label>
                <input type="text" name="nome" placeholder="digite seu nome aqui" >
            </div>

            <div>
                <label for="Nome">Sobrenome</label>
                <input type="text" name="sobrenome"placeholder="digite seu sobrenome aqui" >
            </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="digite seu email aqui">
        </div>
    </fieldset>
    </form>

</body>
</html>