html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

img{
width: 600.px;
height: 659.px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 85vh 100pt;
    grid-template-areas: "header main" 
                         "footer footer"
}

header{
grid-area: header;
background: green;
}

main{
grid-area: main;
background: darkolivegreen;
}


footer{
	background: brown;
}

  


