html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#negrito {
    font-weight: bold;
}
#italico {
    font-style: italic;
}
#sublinhado {
    text-decoration: underline;
}

img{
width: 375px;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 450px 100px;
    grid-template-areas: "header main" 
                         "footer footer";
    gap: 5mm 5mm;
}

header{
grid-area: header;
}

main{
grid-area: main;
}

footer{
	grid-area: footer;
}

h1-a{
    
    font-size: 220%;
    font-family: 'Lato', sans-serif;
}

p{
    color: seagreen;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 15pt;
    


}

.divVendido{
    text-align: right;
    font-weight: bolder;
}

.comprar{
    
}
