html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

img{
width: 375px;
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 450px 100px;
    grid-template-areas: "header main" 
                         "footer footer";
    gap: 5mm 5mm;
}

header{
grid-area: header;
background: hotpink;


}

main{
grid-area: main;
background: lightskyblue;

}


footer{
	background: brown;

    
}

h1{

}

p{
    
}


